.score {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3vw;
    color: #fff;
    font-family: 'FlappyBird', sans-serif;
    text-shadow: 2px 2px 0 #222;
    z-index: 20;
}